{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": 0
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/test/**", "**/__mocks__/**"],
      "env": {
        "jest": "true"
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          2,
          {
            "devDependencies": true
          }
        ]
      }
    }
  ]
}
